/* #Region Debug*/

.debug{
    header{
        background-color: red;
        div{
            background-color: #008000;
        }
        nav{
            background-color: yellow;
        }
    }

    main{
        background-color: #ff6900;
        .container{
            background-color: #008000;
            height: 1200px;
        }
        .card{
            background-color: brown;
            height: 500px;
            width: 350px;
        }
    }

    footer{
        background-color: purple;
        .container{
            background-color: aqua;
            height: 100px;
        }
        .info,.social{
            background-color: violet;
            height: 50px;
            width: 300px;
        }
    }
}



/* #Region Common*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
} 

:root{
    --header-bcg: #ff6900;
    --logo-color: #e7e5e4;
    --sale-color: #ff0000;
    --sustainable-color: #008000;
    --footer-bcg: #1a1a1a;
}

body{
    font-family: sans-serif;
}

/*Utilities*/

.container{
    width: 80%;
    margin: 0 auto;
}

/*flex*/

.d-flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}

/*typography*/

.list-unstyle{
    list-style: none;
}

.sale{
    color: var(--sale-color);
}

.or-price{
    text-decoration: line-through;
}

/*Header*/

header{
    position: fixed;
    z-index: 5;
    background-color: var(--header-bcg);
    color: white;
    margin-bottom:4.5rem;
    width: 100%;

    &>div{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    li{
       padding: 3px;
       font-size: 0.7rem;
    }

    img{
        max-width: 20%;
        position: relative;
        left: 50%;
        translate: -50%;
    }
}

/*Main*/

main{
    .products{
        padding-top: 50px;
        padding-bottom: 50px;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .card{
        padding-top: 3rem;
        width: 30%;
        flex-direction: column;
        position: relative;
        .heart{
            padding: 0.7rem;
            background-color: white;
            position: absolute;
            top: 60px;
            right: 0px;
            &:hover{
                color: var(--sale-color);
            }
        }
        .on-sale{
            padding: 0.2rem 0.5rem;
            color: white;
            background-color: var(--sale-color);
            position: absolute;
            bottom: 90px;
            left: 0px;
        }
        .sustainable{
            padding: 0.2rem 0.5rem;
            color: white;
            background-color: var(--sustainable-color);
            position: absolute;
            bottom: 90px;
            left: 0px;
        }
        .double{
            left: 45px;
        }
    }
    span{
        font-size: 0.7rem;
    }
}

/*Hover images*/
.card{
    .levis-fit{
    background-image: url(../img/1b.webp);
    background-size: contain;
    img:hover{
        opacity: 0;
    }
    }
    .guess{
    background-image: url(../img/2b.webp);
    background-size: contain;
    img:hover{
        opacity: 0;
    }
    }
    .zucchero{
    background-image: url(../img/3b.webp);
    background-size: contain;
    img:hover{
        opacity: 0;
    }
    }
    .levis{
    background-image: url(../img/4b.webp);
    background-size: contain;
    img:hover{
        opacity: 0;
    }
    }
    .maya{
    background-image: url(../img/5b.webp);
    background-size: contain;
    img:hover{
        opacity: 0;
    }
    }
    .esprit{
    background-image: url(../img/6b.webp);
    background-size: contain;
    img:hover{
        opacity: 0;
    }
    }
}
/*Footer*/

footer{
    background-color: var(--footer-bcg);
    color: white;
    line-height: 1.5rem;
    .container{
        padding: 30px;
    };
}

